<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Pocket - Command</title>
</head>
<body>
    <center>
        <h1 style="font-family: 나눔스퀘어_ac; font-size: 24;">My Pocket - Commands</h1>
        <img src="./image/pocket.png">
        <br>
        <p style="font-family: 나눔스퀘어_ac; font-size: 18;">전체 도움말 : ,도움말<br>접두사 : ,</p>
        <details>
            <summary>
                <strong>가입 / 탈퇴</strong>
            </summary>
            <p style="font-family: 나눔스퀘어_ac; font-size: 15;">,가입 ,탈퇴</p>
        </details>
        
        <details>
            <summary>
                <strong>자산 도움말</strong>
            </summary>
            <p style="font-family: 나눔스퀘어_ac; font-size: 15;">,자산 - 자산 명령어 기본 도움말<br><br>,자산 설정 [금액] - [금액]만큼 자산을 설정<br><br>,자산 현황 - 수익과 지출, 남은 금액을 보여줍니다.</p>
        </details>
        
        <details>
            <summary>
                <strong>자산 관리</strong>
            </summary>
            <p style="font-family: 나눔스퀘어_ac; font-size: 15;">,수입 [금액] - [금액] 만큼 수입을 추가<br><br>,지출 [금액] - [금액] 만큼 지출<br><br>,초기화 - 수익과 지출, 통계를 모두 초기화<br><br>,그래프 - 이용자의 소비 패턴을 그래프로 나타냅니다.</p>
        </details>
    </center>
</body>
</html>